@import url('https://fonts.googleapis.com/css?family=Bangers|Oswald:700&display=swap');

/* body start */
body {
    font-family: "Bangers", sans-serif;
}

footer {
    background-color: rgb(221, 221, 221);
    padding-bottom: 10px;
    padding-top: 10px;
    color: darkslategrey;
    text-align: center;
    }
/* body end */

/* forms start */
.accountform {
    padding-top: 20px;
}
/* forms end */

/* cart badge start */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
/* cart badge end */

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/* navbar start */
#navstick {
    margin-bottom: 1rem;
}

#logo:hover {
    color: rgb(59, 59, 245);
    background-color: yellow;
}

#profile:hover {
    background-color: burlywood;
    color: yellow;
    cursor: pointer;
}

#logout:hover {
    background-color: rgb(109, 109, 204);
    color: rgb(255, 112, 112);
}

#login:hover {
    background-color: rgb(109, 109, 204);
    color: rgb(255, 112, 112);
}

#signup:hover {
    background-color: rgb(245, 87, 87);
    color: rgb(201, 197, 201);
}

#contact:hover {
    background-color: rgb(33, 189, 33);
    color: indigo;
    cursor: pointer;
}
/* navbar end */

/* contact modal text start */
#exampleModalCenterTitle {
    font-family: 'Oswald';
}
/* contact modal text end */

/* forms start */
#registercontainer {
    font-family: 'Oswald';
}

#profilecontainer {
    font-family: 'Oswald';
}

#logincontainer {
    font-family: 'Oswald';
}

#payment-form {
    font-family: 'Oswald';
}
/* forms end */