@import url('https://fonts.googleapis.com/css?family=Bangers|Sigmar+One&display=swap');

body {
    font-family: "Bangers", sans-serif;
}

footer {
    background-color: rgb(221, 221, 221);
    padding-bottom: 10px;
    padding-top: 10px;
    }

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#navstick {
    margin-bottom: 1rem;
}

#logo:hover {
    color: rgb(59, 59, 245);
    background-color: yellow;
}

#profile:hover {
    background-color: burlywood;
    color: yellow;
    cursor: pointer;
}

#logout:hover {
    background-color: rgb(109, 109, 204);
    color: rgb(255, 112, 112);
}

#login:hover {
    background-color: rgb(109, 109, 204);
    color: rgb(255, 112, 112);
}

#signup:hover {
    background-color: rgb(201, 49, 49);
    color: rgb(201, 197, 201);
}
