{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-around justify-content-sm-start">
        {% for item in cart_items %}
            <div class="card mb-3 col-xs-12 col-sm-6 col-lg-4">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="card-img"
                            alt="One Piece manga volume cover image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.product.name }}</h5>
                            <p class="card-text">{{ item.product.description }}</p>
                            <p class="card-text"><small class="text-muted">€{{ item.product.price }}</small></p>
                            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend"><span class="input-group-text">Qty</span></div>
                                        <input name="quantity" type="number" min="0" max="999" class="form-control">
                                        <div class="input-group-append"><span class="input-group-text">{{item.quantity}}</span></div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <p>Total</p>
        <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> €{{ total }}</p>
        <br>
        <br>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Checkout</a>
    </div>
</div>

{% endblock %}